
        body{
            margin: 0;

        }
        header{
            background-color: lightblue;
            padding: 20px;
        }

        img {
            max-width: 100%;
        }
header{
    background-color: lightgreen;
}

        ul{
            padding-left: none;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        li {
            text-align: center;
            padding: 10pt 0;
            border-bottom: 1px solid black;
        }
li:last-child {
    border-bottom: none;
}
        h3{
            color: rebeccapurple;
        }
        h2,h3,li {
            font-family: "Montserrat", Arial,sans-serif;
        } 

        .p-regular{
            color: rgb(45,45,45);
            font-size: 15px;
            font-family: "Montserrat", Arial,sans-serif;
        }


        @media (min-width: 74px){

            header {
                display: flex;
                justify-content: space-between;
            }
            ul {
                flex-direction: row;
                justify-content: right;
            
            }
            li {
                border-right: 1px solid black;
                border-bottom: none;
                padding: 0 10px;
            }
            main{
                columns: 2;
            }
        }

        @media (min-width: 960px){
            main{
                columns: 3;
                width: 960px;
                margin: auto;
            }
        }
